{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "semi": 1,
    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}
